<?xml version="1.0"?>
<config>
    <modules>
        <Ambimax_LogoutRedirect>
            <version>1.0.0</version>
        </Ambimax_LogoutRedirect>
    </modules>
    <global>
        <blocks>
            <ambimax_logoutredirect>
                <class>Ambimax_LogoutRedirect_Block</class>
            </ambimax_logoutredirect>
        </blocks>
        <helpers>
            <ambimax_logoutredirect>
                <class>Ambimax_LogoutRedirect_Helper</class>
            </ambimax_logoutredirect>
        </helpers>
        <models>
            <ambimax_logoutredirect>
                <class>Ambimax_LogoutRedirect_Model</class>
            </ambimax_logoutredirect>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ambimax_LogoutRedirect>
                    <files>
                        <default>Ambimax_LogoutRedirect.csv</default>
                    </files>
                </Ambimax_LogoutRedirect>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_postdispatch_customer_account_logout>
                <observers>
                    <ambimax_logoutredirect_observer>
                        <class>ambimax_logoutredirect/observer</class>
                        <method>logoutRedirect</method>
                    </ambimax_logoutredirect_observer>
                </observers>
            </controller_action_postdispatch_customer_account_logout>*
        </events>
    </frontend>
</config>
